html {
	font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook2 {
	background: #2e406e;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

main>.container {
  padding: 30px 0;
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
}
.centrado{
  margin-left: 200px;
  width: 20%;
  padding: 10px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i226ha');
  src:  url('fonts/icomoon.eot?i226ha#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i226ha') format('truetype'),
    url('fonts/icomoon.woff?i226ha') format('woff'),
    url('fonts/icomoon.svg?i226ha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-facebook2:before {
  content: "\ea91";
}
body{
  margin: 0;
}
.footer {
  padding: 50px;
  text-align: center;
  background: rgb(255, 255, 255);
  margin-top: 50px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 50%;
  }


}
.buttons {
  min-width: 700px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #00d1c7;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.login-box input[type="text"]{
  border: none;
    border-bottom: 1px solid blue;
    background: black;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.derecha{
  text-align: right;
}