{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE },
                    'google_translate_element');
            } 
        </script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/diseño_login.css' %}">
    
</head>
<body>
    <div class="bot_bord marg" id="google_translate_element"></div>

<form method="post">
    <div class="container login-box">

        <img src="{% static 'img/logo.png' %}" class="avatar" alt="Avatar Image">
        <h1>Pagina Acceso</h1>
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td>Ingrese su correo electronico</td>
                    <td><input type="text" placeholder="Ingrese su correo" name="correo" required></td>
                </tr>

                <tr>
                        <td>Contraseña</td>
                        <td><input type="password" placeholder="Ingrese su contraseña" name="contraseña" required></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Acceder</button>
                            &nbsp;&nbsp;
                            <button type="reset">Limpiar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a href="{% url 'inicio' %}">Volver al Inicio</a><br>
                <a href="{% url 'registrar' %}">¿No tienes una cuenta?</a>
            </div>
            {% if messages %}
                {% for msg in messages %}
                <b>{{msg}}</b>
                {% endfor %}
            {% endif %}
        </div>
</form>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jq.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>
</html>