{% load static %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="row" colspan="3" class="text-center">CARRITO</th>
      </tr>
      <tr>
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO</th>

        
      </tr>
    </thead>
    
    
    
    {% for c in cle %}
      <tr>
        <td>{{ c.idCliente }}</td>
        <td>{{ c.nombre }}</td>
      </tr>

    {% endfor %}
    <tr>
    <th>Total: </th>
    <th id="total" ></th>
  </tr>
  {{ ar.idCliente }}
  </table>