<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/stilo.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cludflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 



    <style>
        
        body, h1, h2, h3, h4, h5, h6  {
        font-family: Sofia, serif;
      }
    </style>

</head>
<body>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
        
    </div>

</div>

        <form action="../Menú.html" name="f1" id="form" >
            <div class=" row  ">
                <div class="col-md-6">
                    <div class="row ">
 
                        <div class="col-12">
                        <img style="width: 150px;" class="rounded-3" src="img/logo.png" alt="No Hay Imagen">    
                        </div>
                        
                        <dic class="col-12"> <br></dic>
                        <dic class="col-12"> <br></dic>
                        <dic class="col-12"><p class="display-1 fst-italic" style="color: aliceblue;">Stylish Foot</p></dic>
                    </div>
                </div>
                <div class="col-md-6 " style="background-color: black; color: white;">
                
                <div class="row login-box" style="border: white;" >
                    <div class="col-4"></div>
                    <div class="col-4">
                    <h2 class="fst-italic" style="color: aliceblue;">Registro</h2>
                </div>
                    <div class="col-md-6 form ">
                        
                <label for="nombre">Nombre</label>
            
                <input type="text" class="form-control rounded" id="nombre"required minlength="4" maxlength="12">
            
                
                
            
            </div>
                
            <div class="col-md-6 form">
                <label for="appate">Apellido</label>
                <input type="text" class="form-control" id="appate" name="appate" required minlength="4" maxlength="12">
                
            </div>
                
                <div class="col-md-6 form">
                <label for="Telefono">Telefono</label>
                <input type="number" class="form-control" placeholder=" Ej : (912345678)" id="Telefono"required minlength="4" maxlength="12">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                
            </div>
            
            <div class="col-md-12 form">
                <label for="Correo">Correo Electronico</label>
                <input type="email" class="form-control" placeholder="Ej: (abc@stylish.com)" id="Correo" name="Correo" required>
                
            </div>
            
                <div class="col-md-6 form">
                <label for="Contraseña">Contraseña</label>
                <input type="password" class="form-control" placeholder="(Debe contener 8 caracteres)" name="clave1" id="Contraseña" style="color: white;" required minlength="8" maxlength="12">
                
            </div>
            <div class="col-md-6 form">
                <label for="sContraseña">Confirmar Contraseña</label>
                <input type="password" class="form-control" name="clave2" id ="sContraseña"required minlength="8" maxlength="12">
            
            </div>
            
            
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br>
                <input type="submit"  onclick="comprobarClave()"  value="Registrarse">
                
                
            
            </div>
            </div>
            </div>        
            </div>

            
            
           
                
        </form>



    </div>
    
    



    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="jq.js"></script>
</body>
</html>

                            